.bg1{
    background-color: dodgerblue;
}
.bg2{
    background-color: limegreen;
}
.bg3{
    background-color: deepskyblue;
}
.br{
    background-color: darkorange;
}
.bg-4{
    background-color: orange;
}
.bg-5{
    background-color: indianred;
}